.menu {
  margin-top: 80px;
  margin-bottom: 44px;
}

.menu__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: 28px;
  text-align: center;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__link {
  color: var(--color-light-100);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 21px;
}

.menu__link:hover {
  opacity: 0.8;
}
