.logo {
  display: block;
  background-image: url(../src/assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 127px;
  height: 120px;
  position: sticky;
  top: 35px;
}
