@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

  --text-color-main: #443e3e;

  --color-primary: #5c2018;

  --color-secondary: #4285f4;
  --color-secondary-100: #fff4f1;
  --color-secondary-200: #d4a59a;
  --color-secondary-300: #bc4639;

  --color-light-100: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
